<main>
  <h1 class='text-center'>Hello world</h1>
  <h2 class='text-end'>Second</h2>
  <h3>title</h3>

  <br />
  <hr />

  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>

  <br />
  <hr />

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>title</div>

  <br />
  <hr />

  <div class='text-muted text-end'>
    Додатковий текст
  </div>

  <div class='text-muted text-end'>
    Додатковий<span class='display-6'>текст</span>
  </div>
  <span class='text-muted'>Додатковий текст</span>

  <br />
  <hr />

  <button class='btn btn-primary'>Test button</button>

  <br />
  <br />

  <button class='btn btn-secondary'>Test button</button>

  <br />
  <br />

  <button class='btn btn-secondary'>
    <span class='text-success'>Button primary</span>
  </button>

  <br />
  <br />

  <button class='btn btn-success'>
    Button primary
  </button>

  <br />
  <br />

  <button class='btn btn-danger'>
    Button primary
  </button>

  <br />
  <br />

  <button class='btn btn-warning'>
    Button primary
  </button>

  <br />
  <br />

  <button class='btn btn-info'>
    Button primary
  </button>

  <br />
  <br />

  <button class='btn btn-light'>
    Button primary
  </button>

  <br />
  <br />

  <button class='btn btn-dark'>
    Button primary
  </button>

  <br />
  <br />

  <button class='btn btn-link'>
    Button primary
  </button>

  <br />
  <br />

  <a href='#' class='btn btn-primary'>
    Button primary
  </a>

  <br />
  <br />

  <button class='btn btn-primary'>
    <span class='text-uppercase'>Button primary</span>
  </button>

  <br />
  <hr />

  <p class='text-warning'>My text</p>
  <p class='text-success'>My text</p>

  <br />
  <hr />

  <button class='btn btn-secondary'>Додати</button>

  <button class='btn btn-outline-secondary'>
    Редагувати
  </button>

  <button class='btn btn-outline-danger'>Видалити</button>

  <br />
  <hr />

  <button class='btn btn-secondary btn-lg'>Додати</button>

  <button
    class='btn btn-outline-secondary'
  >Видалити</button>

  <button class='btn btn-outline-secondary btn-sm'>
    Редагувати
  </button>

  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      <button
        class='btn btn-secondary btn-lg'
      >Додати</button>
      <button
        class='btn btn-outline-secondary'
      >Видалити</button>
      <button class='btn btn-outline-secondary btn-sm'>
        Редагувати
      </button>
    </div>
  </div>

</main>