<main>
  <h1 class='text-center'>Hello world</h1>
  <h2 class='text-end'>Second</h2>
  <h3>title</h3>

  <hr class='my-5' />

  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title one two</h3>

  <hr class='my-5' />

  <div class='display-1 text-muted'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>title</div>

  <hr class='my-5' />

  <div class='text-muted text-end'>
    Додатковий текст
  </div>

  <div class='text-muted text-end'>
    Додатковий<span class='display-6'>текст</span>
  </div>
  <span class='text-muted'>Додатковий текст</span>

  <hr class='my-5' />

  <div class='col-4'>
    <button class='btn btn-primary mb-3'>Test button</button>

    <button class='btn btn-secondary mb-3'>Test button</button>

    <button class='btn btn-secondary mb-3'>
      <span class='text-success'>Button primary</span>
    </button>

    <button class='btn btn-success mb-3'>
      Button primary
    </button>

    <button class='btn btn-danger mb-3'>
      Button primary
    </button>

    <button class='btn btn-warning mb-3'>
      Button primary
    </button>

    <button class='btn btn-info mb-3'>
      Button primary
    </button>

    <button class='btn btn-light mb-3'>
      Button primary
    </button>

    <button class='btn btn-dark mb-3'>
      Button primary
    </button>

    <button class='btn btn-link mb-3'>
      Button primary
    </button>

    <a href='#' class='btn btn-primary mb-3'>
      Button primary
    </a>

    <button class='btn btn-primary mb-3'>
      <span class='text-uppercase'>Button primary</span>
    </button>
  </div>

  <hr class='my-5' />

  <p class='text-warning'>My text</p>
  <p class='text-success'>My text</p>

  <hr class='my-5' />

  <button class='btn btn-secondary'>Додати</button>

  <button class='btn btn-outline-secondary'>
    Редагувати
  </button>

  <button class='btn btn-outline-danger'>Видалити</button>

  <hr class='my-5' />

  <button class='btn btn-secondary btn-lg'>Додати</button>

  <button
    class='btn btn-outline-secondary'
  >Видалити</button>

  <button class='btn btn-outline-secondary btn-sm'>
    Редагувати
  </button>

  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

  <br />
  <br />

  <div class='card'>
    <div class='card-body'>
      <button
        class='btn btn-secondary btn-lg'
      >Додати</button>
      <button
        class='btn btn-outline-secondary'
      >Видалити</button>
      <button class='btn btn-outline-secondary btn-sm'>
        Редагувати
      </button>
    </div>
  </div>

</main>