<div>
    {{#with main}}
        <main>
            <section class="mb-4">
                <div>
                    {{> title data=' My education' big=true}}
                    <ul class="ps-5">
                        {{#each education}}
                            <li>
                                {{name}}
                                {{#unless isEnd}} (Study in process) {{/unless}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </section>
            <section>
                <div>
                     {{> title data='My certificates'}}
                    <ul class="ps-5">
                        {{#each certificates}}
                            <li>
                                {{name}} [id:{{id}}] 
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </section>
        </main>
    {{/with}}
</div>