<main>
  <div class='row'>
    <div class='col-12'>
      <div class='card mb-5'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-3'>
              <h5>Максим Шейн</h5>
            </div>
            <div class='col-9 text-end'>
              <h5>Resume project</h5>
            </div>
          </div>
        </div>
      </div>

      <div class='col-6 mb-5'>
        <div>
          <h3>Список сторінок</h3>
          <p>
            У цьому списку знаходяться усі проекти котрі
            були створені під час навчання в IT Brain`s
          </p>
        </div>
      </div>

      <div class='col-3'>
        <div>
          <div>
            <a
              href='/shopcatalog'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Shopcatalog</a>
          </div>
          <div>
            <a
              href='/shopreview'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Shopreview</a>
          </div>
          <div>
            <a
              href='/shopprofile'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Shopprofile</a>
          </div>
          <div>
            <a
              href='/shopcart'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Shopcart</a>
          </div>
          <div>
            <a
              href='/shoporder'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Shoporder</a>
          </div>
          <div>
            <a
              href='/shophome'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Shophome</a>
          </div>
          <div>
            <a
              href='/task31'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Task31</a>
          </div>
          <div>
            <a
              href='/task22'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Task22</a>
          </div>
          <div>
            <a
              href='/web'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Web</a>
          </div>
          <div>
            <a
              href='/bio'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >bio</a>
          </div>
          <div>
            <a
              href='/person'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Person</a>
          </div>
          <div>
            <a
              href='/program'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Program</a>
          </div>
          <div>
            <a
              href='/js'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >JS</a>
          </div>
          <div>
            <a
              href='/car'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Car</a>
          </div>
          <div>
            <a
              href='/mac'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Mac</a>
          </div>
          <div>
            <a
              href='/facebook'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Facebook</a>
          </div>
          <div>
            <a
              href='/task21'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Task21</a>
          </div>
          <div>
            <a
              href='/summary'
              target='_blank'
              class='btn btn-primary w-50 mb-2'
            >Summary</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>